/*Here can go content related to the index page only*/

body{

    font-size:22px;

    .title{
        background-color:@header-bg;
        color:white;
        .container{
            ul{
                list-style:none;
            }
        }
    }

  .navbar a {
    color: @body-bg;
  }

  .file {
  background: #e3e3e3;
  border: 1px solid #3e3e3e;
  border-radius: 3px;
  margin: 5px 0;
  padding: 3px 5px 3px 5px;
}

.trash {
  border: 1px solid #3e3e3e;
  border-radius: 3px;
  padding: 10px;
}

.trash-active {
  background: #ff3232;
  font-weight: bold;
}


}
