/*Here can go content related to the index page only*/

body{

    background-color:@body-background;
    font-size:50px;
    text-align:center;

    .content{
        .title{
            height: 100px;
            background-color:yellow;
        }

        ul{
            list-style:none;
        }
    }
}
