@import "variables";
@import "index";
@import "protocols";
@import "subjectAdd";


/*General Content here, available for every page */

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.drag-element {
    z-index: -3;
    position: absolute;
    top: 100px;
    right: 100px;
    opacity: 1.0
}

.dragging-element {
	 color: white;
     background-color: gray;
     opacity: 1.0
}
