<div class="page-content-wrapper col-sm-12 right">
    <div class="page">
    <div class="row" style="margin-left: 0px;">
      {{#if isEditingName}}
        <h1 class="title color-dark">
          {{input value=name focus-out="updateName" insert-newline="updateName"}}
        </h1>
      {{else}}
        <h1 class="title color-dark" {{action "editName"}}>{{name}}</h1>            
      {{/if}}

      {{#if isEditingDescription}}
            <p class="color-dark">
              {{input value=description focus-out="updateDescription" insert-newline="updateDescription"}} 
            </p>
        {{else}}
          <p class="color-dark color-dark-edit" {{action "editDescription"}}>{{description}}</p>
      {{/if}} 

      <button class="btn btn-primary pull-right save-button" {{action "save"}}>Save Changes</button>
      
    </div>
    
    <div class="col-sm-3 col-sm-2_4">
      <div class="proceduresCont row margin-row">
        <h4 class="procedure-title col-sm-12 bg-red">Procedures</h4>
          <ul class="procedures connectedSortable col-sm-12" data-auto-scroll="true" data-slide-speed="200">
            {{#each procedure in procedures itemController="procedure"}}          

                {{#unless procedure.isEditingName}}
                  {{#drag-element item=procedure.id elementName='num'}}
                    <li class="ui-state-default draggable" {{action "editName"}}>
                      {{procedure.name}}                
                    </li>  
                  {{/drag-element}}                    
                {{else}}          
                  <li class="ui-state-default">          
                    {{input class="procedure" value=procedure.name placeholder="New Procedure" focus-out="updateName" insert-newline="updateName"}} 
                  </li>                     
                {{/unless}}
              
            {{else}}          
                <li class="ui-state-default">
                  No elements found.
                </li>  
            {{/each}}         
          </ul>                
        <p class="count_proc" id="number"> {{proceduresCount}} procedures</p>
        <button style="display:block" id="proc" class="btn bg-gray addProc" {{action "add_procedure"}}>
          <i class="glyphicon-plus glyphicon"></i>
        </button>
      </div>
    </div>

      
    
    
    {{#each visit in visits itemController="visit"}}
      {{#drop-element dropAction='drop_procedure_into_visit' elementName='visit'}}
        <div class="col-sm-3 col-sm-2_4" id="col1">     
          <div id="visit1" class="visit row margin-row">
            <div class="visit_N">
              {{#if visit.isEditingLabel}}            
                {{input value=visit.label placeholder="AddVisit" class="visit-title h4 col-sm-10" focus-out="updateLabel" insert-newline="updateLabel" }}
              {{else}}
                <span class="visit-title h4 col-sm-10" {{action "editLabel"}}>{{visit.label}}</span>
              {{/if}}                 
              <i class="col-sm-2 clickable glyphicon glyphicon-chevron-up collapse pull-right"></i>              
            </div>
            <div class="visit-body">
              {{#if visit.haveProcedures}}
                <ul class="connectedSortable sortable col-sm-12 ui-droppable ui-sortable">
                  {{#each visitProc in visit.procedures itemController="procedure"}}
                    <li class="ui-state-default">
                      {{#unless visitProc.isEditingName}}                    
                        <span class="procedure" {{action "editName"}}>{{visitProc.name}}</span>                   
                      {{else}}    
                        {{input value=visitProc.name placeholder="Add Procedure" class="procedure" focus-out="updateName" insert-newline="updateName"}}                           
                      {{/unless}}
                    </li>
                  {{/each}}
                  <p class="count_proc pull-right"> {{visit.proceduresCount}} procedures</p>
                </ul>
              {{/if}}
              <button class="btn bg-gray addProc" {{action "insertNewProcedure" this}}>
                <i class="glyphicon-plus glyphicon"></i>
              </button>
            </div>
          </div>
        </div>
      {{/drop-element}}
      {{#ifIsNthItem startAt=3 nth=4}}
        <div class="col-sm-3 col-sm-2_4"></div>
      {{/ifIsNthItem}}

    {{/each}}

    <!-- PLUS BUTTON -->
    <div class="col-sm-3 col-sm-2_4">        
      <div class="row margin-row nvisitPos" id="nvisit1">
        <div class="n_visit" id="">
            <h4 id="" class="new-visit-title">New Visit </h4>
            <button id="nV1" class="btn bg-gray bottom-0 n_visit addProc" {{action "add_visit"}}>
              <i class="glyphicon-plus glyphicon"></i>
            </button>
        </div>
      </div>
    </div>

    

  </div>
</div>