<!-- BEGIN CONTENT -->
<div class="page-content-wrapper col-sm-12 right">
    <div id="protocol-container" class="page">
        <div class="resetHorMargin row">
        {{#if isEditingName}}
            <h1 class="protocol-title" >
                {{input value=name focus-out="updateName" insert-newline="updateName"}} 
            </h1>                   
        {{else}}
            <h1 class="protocol-title" {{action "editName"}}>{{name}}</h1>            
        {{/if}}

        {{#if isEditingDescription}}
            <p class="protocol-description">
              {{input value=description focus-out="updateDescription" insert-newline="updateDescription"}} 
            </p>
        {{else}}
            <p class="protocol-description" {{action "editDescription"}}>{{description}}</p>
        {{/if}}             
            
            <button class="btn btn-primary" {{action "save"}}>Save Changes</button>
        </div>
        <div class="col-sm-2">
          <div class="proceduresCont row margin-row">
            <h4 class="procedure-title col-sm-12">Procedures</h4>
            <ul class="procedures connectedSortable col-sm-12" data-auto-scroll="true" data-slide-speed="200">
              {{#each procedure in procedures}}
              {{#drag-element item=procedure.name elementName='num' dragType='visits'}}
              <li class="ui-state-default scroll_El">
                <span>
                  {{#unless procedure.isEditing}}
                    <a class="add-new-proc" href="#" {{action "rename_procedure" procedure}}>
                      {{procedure.name}}
                    </a></span>
                  {{else}}
                    {{input value=procedure.name placeholder="New Procedure"}}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  {{/unless}}
                </li>
                {{/drag-element}}
              {{/each}}
            </ul>
            <button style="display:block" id= "proc" class="btn bg-gray addProc" {{action "add_procedure"}}>+</button>
          </div>
        </div>

        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
            {{#each visit in visits itemController="visit"}}
            {{#drop-element dropAction='drop_procedure_into_visit' elementName='visit'}}
            <div class="col-sm-3" id="col1">
              <div class="row margin-row nvisitPos" id="nvisit1" style="display:block">
                <div   class= "n_visit" id= "">
                  <h4 id="" class="new-visit-title" >{{visit.label}}</h4>
                  <div class="list-group" id="listone">
                    {{#each visitProc in visit.procedures}}
                      <div class="list-group-item">{{visitProc}}</div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            {{/drop-element}}
            {{#ifIsNthItem startAt=3 nth=4}}
              <div class="clearfix"></div>
            {{/ifIsNthItem}}
            {{/each}}

            <div class="col-sm-3" id="col1">
              <div class="row margin-row nvisitPos" id="nvisit1" style="display:block">
                <div   class= "n_visit" id= "">
                  <h4 id="" class="new-visit-title" >NEW VISIT</h4>
                  <button  id="nV1" class="btn bg-gray bottom-0 n_visit addProc" {{action "add_visit"}}>+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
<!-- END CONTENT -->
