<div class="page-content-wrapper col-sm-12 right">
		<div class="page">
			<div class="row" style="margin-left: 0px;">
				<h1 class="title color-dark">I1V-MC-4590MK</h1>
				<p class="color-dark"style=" display: inline-block; font-weight: initial;">Diabetes Melitus II con uso de Meenformin 500g</p>
				
				<div class="btns-prot">
				<button class="btn bg-blue sbj-btn">SAVE</button>
				<button class="btn bg-gray sbj-btn">CANCEL</button>
				</div>
			</div>
			<div class="row" style="margin-left: 0px;">
				<div class="img_contc"> 
					<img src="../assets/img/subject.png">
					<a>Browse</a>
				</div>
				<div class="sbjc_info">		
					<div class="col-sm-3">
						<li class="contact done">						
							<h4 class="p_info color-dark ">Henry Joannis</h4>
							<input placeholder="|Complete name" type="text" class="subject" style="display:none"> 
						</li>				
					</div>
					<div class="col-sm-3">
						<li class="contact done">					
							<h4 class="p_info color-dark">ABC 01</h4> 
							<input placeholder="|Patient code" type="text" class="subject" style="display:none"> 
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact done">						
							<h4 class="p_info color-dark">2301</h4>
							<input placeholder="|Randomized code" type="text" class="subject" style="display:none">
						</li>
					</div>
				</div>
			</div>
			
			<div class="col-sm-3 col-sm-2_4" id="col1">
				<div id="visit1" class=" visit row margin-row">
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 01" class="visit-title h4 col-sm-7" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-down glyphicon collapse pull-right"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>					
					</div>
				</div>	
				<div id="visit6" class=" visit row margin-row bg-lgreen">
					<div class="visit_N inline ">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 06" class="visit-title h4 col-sm-7 bg-lgreen" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-down glyphicon collapse pull-right bg-lgreen"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>					
					</div>
				</div>			
			</div>
			<div class="col-sm-3 col-sm-2_4" id="col2">
				<div id="visit2" class=" visit row margin-row">
					
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 02" class="visit-title h4 col-sm-7" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-down glyphicon collapse pull-right"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>
						
					</div>
				</div>			
				<div id="visit7" class=" visit row margin-row">
					
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left active" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 07" class="visit-title h4 col-sm-7" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-up glyphicon collapse pull-right"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:block; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>
						
					</div>
				</div>			
			</div>
			<div class="col-sm-3 col-sm-2_4" id="col3">
				<div id="visit3" class=" visit row margin-row">
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 03" class="visit-title h4 col-sm-7" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-up glyphicon collapse pull-right"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: block; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>
						
					</div>
					
				</div>						
			</div>
			<div class="col-sm-3 col-sm-2_4" id="col4">
				<div id="visit4" class=" visit row margin-row">
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 04" class="visit-title h4 col-sm-7" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-down glyphicon collapse pull-right"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>
						
					</div>
				</div>		
			</div>
			<div class="col-sm-3 col-sm-2_4" id="col4">
				<div id="visit5" class=" visit row margin-row bg-red">
					<div class="visit_N inline">
						<button class="btn color-dgray pull-left" id="v2buttonDP"><i class="glyphicon-calendar glyphicon"></i></button>
						<input placeholder="AddVisit" value="Visit 05" class="visit-title h4 col-sm-7 bg-red" type="text">
						<i class="col-sm-2 clickable glyphicon-chevron-down glyphicon collapse pull-right bg-red"></i>
					</div>
					<div class="visit-body">
						<div class="col-sm-12" style="display: none; padding:0;">
						<ul class="connectedSortable sortable col-sm-12 execution_ul">
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure ">
									<input type="checkbox">
									<span class="check"></span>
									Breath Checking
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Blood Transfusion
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									X rays
	                        </label>
						</li>
						<li class="ui-state-default prot_ex">
							<label class="inline-block procedure">
									<input type="checkbox">
									<span class="check"></span>
									Measure Pressure
	                        </label>
						</li>
						<p class="slct_all" id="" > Select All</p>
						</ul>
						<button style="display:block" class="btn bg-gray  slc_allP"><i class="glyphicon-check glyphicon"></i></button>
						</div>
						<div class="col-md-12" style="display:none; background: #f4f4f4;">
							<div class="date-picker" data-date-format="mm/dd/yyyy">
							</div>
						</div>					
					</div>
				</div>			
			</div>		
		</div>
		
		<div class="leyend col-sm-12">
			<div class="done row margin-top-10">
				<div class="box bg-white"></div>
				<div class="leyend_name">Visit Done</div>
			</div>
			<div class="unshcdl row margin-top-10">
				<div class="box bg-lgreen"></div>
				<div class="leyend_name">Unschedule Visit</div>
			</div>
			<div class="rndm row margin-top-10">
				<div class="box bg-red"></div>
				<div class="leyend_name"> Randomized Visit</div>
			</div>
		</div>
		
		<div class="paginators col-sm-12">
			<div class="paginator pull-left">
				<a><i class="glyphicon glyphicon-arrow-left pull-left"></i> Older </a>

			</div>
			<div class="paginator newer pull-right">
				<a> Newer <i class="glyphicon glyphicon-arrow-right pull-right"></i></a>
			</div>
		</div>
</div>