<form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-md-4 resetHorPadding">
        {{input value=name placeholder="Name" class="form-control" }}
      </div>
      <div class="col-md-4 resetHorPadding">
        {{input value=reaction placeholder="Reaction" class="form-control" }}
      </div>      
    </div>

  <div class="form-group">
    <label for="inputBirthday" class="col-md-2 resetHorPadding">Reaction On</label><br>
    <div class="col-md-10 resetHorPadding">
      {{input value=reactionOn class="form-control" id="inputreactionOn" placeholder="Enter Reaction On"}}     
    </div>
  </div>

  <div class="form-group">
    <label for="addressInput">Comments</label>
    {{input value=comments class="form-control" id="inputComments" placeholder="Enter Comments"}}    
  </div>  
  
  <button type="submit" class="btn btn-default" {{action "doneEditing" this}}>Save</button> |
  <button class="btn btn-default" {{action 'doneEditing'}}>Done</button>
</form>
