<div class="page-content-wrapper col-sm-12 right">
	<div class="tabbable tabs-left col-sm-10" role="tabpanel">
		<div class="sidebar col-sm-2">
			<h6 class=""> Patients Details</h6>
			
			<ul id="tabs" class="ul_list col-sm-12 nav nav-tabs" data-tabs="tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#_contactInfo" aria-controls="home" role="tab" data-toggle="tab">Contact Information</a>
				</li>
				<li role="presentation">
					<a href="#_demogrphs" aria-controls="demogrphs" role="tab" data-toggle="tab">Demographics</a>
				</li>
				<li role="presentation">
					<a href="#_guardian" aria-controls="guardian" role="tab" data-toggle="tab">Guardian</a>
				</li>
				<li role="presentation">
					<a href="#_medication" aria-controls="medication" role="tab" data-toggle="tab">Medications</a>
				</li>
				<li role="presentation">
					<a href="#_conditions" aria-controls="conditions" role="tab" data-toggle="tab">Conditions</a>
				</li>
				<li role="presentation">
					<a href="#_allergies" aria-controls="allergies" role="tab" data-toggle="tab">Allergies/Reaction</a>
				</li>
				<li role="presentation">
					<a href="#_inmunization" aria-controls="inmunization" role="tab" data-toggle="tab">Inmunization</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab">Procedures</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab">Current Status</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab">Study History</a>
				</li>
			</ul>				
		</div>

		<div class="tab-content col-sm-10">
			<div id="_contactInfo" class="tab-pane page col-sm-12 " role="tabpanel">
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">CONTACT INFORMATION</h1>
					<div class="img_contc"> 
						<img src="assets/img/subject.png"></img>
					    <a>Browse</a>
					</div>					
				</div>			
				
				<div class="row">			
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|First name" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Middle name" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Last name" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>
					
				<div class="row">
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Country" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|State" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|City" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Address" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Zip Code" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr></hr>
					
				<div class="row">						
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Email" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>
					
				<div class="row">						
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Home phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Cell phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Work phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Alternate cell phone" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>
					
				<div class="row">						
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Native language" type="text" class="subject">
						</li>
					</div>
				</div>
					
				<div class="btns-sbj">
					<button class="btn bg-gray sbj-btn">SAVE</button>
					<button class="btn bg-gray sbj-btn">RESET</button>
				</div>
			</div>
	
			<div id="_demogrphs" class="tab-pane page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Demographics</h1>											
				</div>
	
				<div class="row">			
					<ul class="gender">
						<li>
							<label>
								<div  class="radio sbj">
									<span class="rd">
										<input name="optionsRadios" class= "radio_sbj" value="option1" checked="" type="radio">
									</span>
								</div> 
								<img src="../assets/img/boy.png"></img> 
							</label>
						</li>												
						<li>
							<label>
								<div  class="radio sbj">
									<span>
										<input name="optionsRadios" class= "radio_sbj" value="option2" checked="" type="radio">
									</span>
								</div> 
								<img src="../assets/img/girl.png"></img> 
							</label>
						</li>				
    				</ul>
    			</div>
				<hr></hr>
	
				<div class="row">
					<h4>Date of Birthday</h4>
					<div class="col-sm-2">
						<li class="contact">
							<input placeholder="|Day" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Month" type="text" class="subject">
							<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Year" type="text" class="subject">
							<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact col-sm-5">
							<input placeholder="|Age" type="text" class="subject">
						</li>
						<label class="col-sm-5 text-sbj">Years</label>
					</div>
				</div>
				<hr></hr>
				
				<div class="row">						
					<div class="col-sm-4">
						<img class="size_sbj height" src="../assets/img/boy-gray.png"></img>
						<li class="contact col-sm-5">
							<input placeholder="|Height" type="text" class="subject">
						</li>
						<label class="col-sm-5 text-sbj">Meters</label>
					</div>
					<div class="col-sm-4">
						<img class="size_sbj weight" src="../assets/img/boy-gray.png"></img>
						<li class="contact col-sm-5">
							<input placeholder="|Weight" type="text" class="subject">
						</li>
						<label class="col-sm-5 text-sbj">Pounds</label></div>
				</div>
				<hr></hr>
				
				<div class="row">						
					<div class="col-sm-3 int">
						<h4>heart rate</h4>
							<li class="contact col-sm-5">
								<input placeholder="|Beats" type="text" class="subject">
							</li>
							<label class="col-sm-5 text-sbj">A minute</label>
					</div>
				
					<div class="col-sm-6 int">
						<h4>blood preassure</h4>
							<label class="col-sm-1 text-sbj">Below </label>
							<li class="contact col-sm-2">
								<input placeholder="|120" type="text" class="subject">
							</li>
							<label class="col-sm-1 text-sbj">Over</label>
							<li class="contact col-sm-2">
								<input placeholder="|80" type="text" class="subject">
							</li>
					</div>					
				</div>
				<hr></hr>
				
				<div class="row">
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Race" type="text" class="subject">
						</li>
					</div>						
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Ethnicity" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr></hr>
				
				<div class="row">						
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Marital Status GHT" type="text" class="subject">
						</li>
					</div>
				</div>
				
				<div class="btns-sbj">
					<button class="btn bg-gray sbj-btn">SAVE</button>
					<button class="btn bg-gray sbj-btn">RESET</button>
				</div>						
			</div>
	
			<div id="_guardian" class="tab-pane page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Guardian Advocate or Facility</h1>
					<div class="img_contc"> 
						<img src="../assets/img/subject.png"></img> 
						<a>Browse</a>
					</div>		
				</div>

				<div class="row">			
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|First name" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Middle name" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Last name" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Relationship" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>

				<div class="row">					
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Facility Type" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Facility" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>

				<div class="row">					
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Address" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>

				<div class="row">					
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Home phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Cell phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Work phone" type="text" class="subject">
						</li>
					</div>
					<div class="col-sm-3">
						<li class="contact">
							<input placeholder="|Alternate cell phone" type="text" class="subject">
						</li>
					</div>
				</div>
				<hr>

				<div class="row">					
					<div class="col-sm-4">
						<li class="contact">
							<input placeholder="|Email" type="text" class="subject">
						</li>
					</div>
				</div>

				<div class="btns-sbj">
					<button class="btn bg-gray sbj-btn">SAVE</button>
					<button class="btn bg-gray sbj-btn">RESET</button>
				</div>					
			</div>			
	
			<div id="_medication" class="tab-pane page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Medications</h1>					
				</div>
		
				<div class=" col-sm-4">
					<div id="" class="medic  row margin-row">
						<li>
							<h6 class="medic-title">Medicaments<i class="color-gray glyphicon pull-right glyphicon-chevron-down"></i></h6> 
						</li>
						<ul class="medics connectedSortable col-sm-12" data-auto-scroll="true" data-slide-speed="200">
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default active">
								<input placeholder="AddMedication" value="Advil" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default">
								<input placeholder="AddMedication" value="Medication" type="text" class="procedure"></input>
							</li>
							<li class="ui-state-default edit">
								<input placeholder="AddMedication" value="" type="text" class="procedure"></input>
							</li>
						</ul>				
						<p class="count_proc" id="number" style="display:block"> 17 medicaments</p>
						<button style="display:block" id= "proc" class=" btn bg-gray addProc">
							<i class="glyphicon-plus glyphicon"></i>
						</button>
					</div>
				</div>
			
				<div class="col-sm-2"></div>
			
				<div class="col-sm-6">				
					<h4 class="color-red">Advil</h4>
				
					<div class="row">
						<h4>Dosage</h4>
						<div class="col-sm-5">
							<li class="contact">
								<input placeholder="|Dosage" type="text" class="subject">
							</li>
						</div>
					</div>
				
					<div class="row">
						<h4>Date</h4>
						<div class="col-sm-4">
							<li class="contact">
							<input placeholder="|Start" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|End" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
					</div>
					
					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn">SAVE</button>
						<button class="btn bg-gray sbj-btn">RESET</button>
						<button class="btn bg-gray sbj-btn">EDIT</button>
					</div>
				</div>		
			</div> 
	
			<div id="_conditions" class="tab-pane page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Conditions</h1>				
				</div>				
			
				<div class=" col-sm-4">
					<div id="" class=" visit row margin-row">
						<div class="visit_N">
							<input placeholder="" value="Conditions" type="text" class="visit-title h4 col-sm-12">
						</div>
						
						<div class="visit-body">
							<ul class="connectedSortable sortable col-sm-12  ui-sortable">
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
								</li>
								<p class="count_proc" id="" style="display:block"> 17 determinants</p>
							</ul>
							<button style="display:block" class="btn bg-gray  addProc">
								<i class="glyphicon-plus glyphicon"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-2"></div>
				<div class="col-sm-6 pull-right">			
					<h4 class="color-red">Determinant's Name</h4>
			
					<div class="row">
						<h4>Date</h4>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|Start" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|End" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
					</div>
					<hr></hr>
					
					<div class="row">
						<div class="col-sm-12">
							<li class="contact">
								<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
							</li>
						</div>
					</div>
			
					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn">SAVE</button>
						<button class="btn bg-gray sbj-btn">RESET</button>
					</div>
				</div>			
			</div> 
	
			<div id="_allergies" class="tab-pane page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Allergies</h1>				
				</div>
			
				<div class=" col-sm-4">
					<div id="" class=" visit row margin-row">
						<div class="visit_N">
							<input placeholder="" value="Allergies" type="text" class="visit-title h4 col-sm-12">
						</div>
						
						<div class="visit-body">
							<ul class="connectedSortable sortable col-sm-12  ui-sortable">
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
								</li>
								<p class="count_proc" id="" style="display:block"> 17 allergies</p>
							</ul>
							<button style="display:block" class="btn bg-gray  addProc">
								<i class="glyphicon-plus glyphicon"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-2"></div>
				<div class="col-sm-6 pull-right">			
					<h4 class="color-red">Reaction's Name</h4>
					
					<div class="row reactions">
						<li>
							<h6 class="medic-title">Reactions<i class="color-gray glyphicon pull-right glyphicon-chevron-down"></i></h6> 
						</li>
						<ul class="connectedSortable sortable col-sm-12  ui-sortable">
							
						</ul>
						<button style="display:block" class="btn bg-gray  addProc"><i class="glyphicon-plus glyphicon"></i></button>
					</div>
					<hr></hr>
			
					<div class="row">
						<h4>Date</h4>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|Start" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|End" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
					</div>
					<hr></hr>
					
					<div class="row">
						<div class="col-sm-12">
							<li class="contact">
								<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
							</li>
						</div>
					</div>
					
					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn">SAVE</button>
						<button class="btn bg-gray sbj-btn">RESET</button>
					</div>
				</div>					
			</div> 
	
			<div id="_inmunization" class="tab-pane active page col-sm-12 " role="tabpanel" >
				<div class="row" style="margin-left: 0px;">
					<h1 class="title sbj color-dark">Inmunization</h1>			
				</div>
			
				<div class=" col-sm-4">
					<div id="" class=" visit row margin-row">
						<div class="visit_N">
							<input placeholder="" value="Inmunization" type="text" class="visit-title h4 col-sm-12">
						</div>
						
						<div class="visit-body">
							<ul class="connectedSortable sortable col-sm-12  ui-sortable">
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<li class="ui-state-default">
									<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
								</li>
								<p class="count_proc" id="" style="display:block"> 17 determinants</p>
							</ul>
							<button style="display:block" class="btn bg-gray  addProc">
								<i class="glyphicon-plus glyphicon"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-2"></div>
				<div class="col-sm-6 pull-right">			
					<h4 class="color-red">Determinant's Name</h4>
			
					<div class="row">
						<h4>Date</h4>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|Start" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								<input placeholder="|End" type="text" class="subject">
								<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
							</li>
						</div>
					</div>
					<hr></hr>
					
					<div class="row">
						<div class="col-sm-12">
							<li class="contact">
								<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
							</li>
						</div>
					</div>
					
					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn">SAVE</button>
						<button class="btn bg-gray sbj-btn">RESET</button>
					</div>					
				</div>				
			</div> 
	</div>
</div>
	

<div class="right-bar color-dark bg-gray col-sm-2">
	<ul class="radio-list">
		<li> 
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option1" checked="" type="radio">
					</span>
				</div> Active 
			</label>
		</li>												
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option2" checked="" type="radio">
					</span>
				</div> Inactive 
			</label>
		</li>	
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option3" checked="" type="radio">
					</span>
				</div> On Hold 
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option4" checked="" type="radio">
					</span>
				</div> Ineligible 
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option5" checked="" type="radio">
					</span>
				</div> Deseased 
			</label>
		</li>
	</ul>
</div>
