<div class="page-content-wrapper col-sm-12 right">
	<div class="tabbable tabs-left col-sm-10" role="tabpanel">
		<div class="sidebar col-sm-2">
			<h6 class=""> Patients Details</h6>

			<ul id="tabs" class="ul_list col-sm-12 nav nav-tabs" data-tabs="tabs" role="tablist">
				<li role="presentation" {{bind-attr class="inContactInfo:active"}}>
					<a href="#_contactInfo" aria-controls="home" role="tab" data-toggle="tab" {{action "showContactInfo"}}>Contact Information</a>
				</li>
				<li role="presentation" {{bind-attr class="inDemogrphs:active"}}>
					<a href="#_demogrphs" aria-controls="demogrphs" role="tab" data-toggle="tab" {{action "showDemogrphs"}}>Demographics</a>
				</li>
				<li role="presentation" {{bind-attr class="inGuardian:active"}}>
					<a href="#_guardian" aria-controls="guardian" role="tab" data-toggle="tab" {{action "showGuardian"}}>Guardian</a>
				</li>
				<li role="presentation" {{bind-attr class="inMedication:active"}}>
					<a href="#_medication" aria-controls="medication" role="tab" data-toggle="tab" {{action "showMedication"}}>Medications</a>
				</li>
				<li role="presentation" {{bind-attr class="inConditions:active"}}>
					<a href="#_conditions" aria-controls="conditions" role="tab" data-toggle="tab" {{action "showConditions"}}>Conditions</a>
				</li>
				<li role="presentation" {{bind-attr class="inAllergies:active"}}>
					<a href="#_allergies" aria-controls="allergies" role="tab" data-toggle="tab" {{action "showAllergies"}}>Allergies/Reaction</a>
				</li>
				<li role="presentation" {{bind-attr class="inInmunization:active"}}>
					<a href="#_inmunization" aria-controls="inmunization" role="tab" data-toggle="tab" {{action "showInmunization"}}>Inmunization</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab" {{action "showContactInfo"}}>Procedures</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab" {{action "showContactInfo"}}>Current Status</a>
				</li>
				<li role="presentation">
					<a href="#_contactInfo" aria-controls="contactInfo" role="tab" data-toggle="tab"{{action "showContactInfo"}}>Study History</a>
				</li>
			</ul>
		</div>

		<div class="tab-content col-sm-10">

			{{#if inContactInfo}}
			  	<div id="_contactInfo" class="tab-pane active page col-sm-12 " role="tabpanel">
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">CONTACT INFORMATION</h1>
						<div class="img_contc">
							<img src="../assets/img/subject.png"/>
						    <a>Browse</a>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">								
								{{input value=firstName placeholder="|First name" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=middleName placeholder="|Middle name" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=lastName placeholder="|Last name" class="subject"}}
							</li>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=country placeholder="|Country" class="subject"}}								
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=state placeholder="|State" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=city placeholder="|City" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=address placeholder="|Address" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=zipCode placeholder="|Zip Code" class="subject"}}
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=email placeholder="|Email" class="subject"}}
							</li>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-sm-3">
							<li class="contact">								
								{{input value=homePhone placeholder="|Home phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=cellPhone placeholder="|Cell phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=workPhone placeholder="|Work phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=alternatedCellPhone placeholder="|Alternate cell phone" class="subject"}}
							</li>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=nativeLanguage placeholder="|Native language" class="subject"}}
							</li>
						</div>
					</div>

					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn" {{action "nextInfo"}}>NEXT</button>
						<button class="btn bg-gray sbj-btn"{{action "resetContactInfo"}}>RESET</button>
					</div>
				</div>
			{{/if}}				
			{{#if inDemogrphs}}
				<div id="_demogrphs" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Demographics</h1>
					</div>

					<div class="row">
						<ul class="gender">
							<li>
								<label>
									<div  class="radio sbj">
										<span class="rd">
											<input name="optionsRadios" class= "radio_sbj" value="option1" checked="" type="radio">
										</span>
									</div>
									<img src="../assets/img/boy.png"/>
								</label>
							</li>
							<li>
								<label>
									<div  class="radio sbj">
										<span>
											<input name="optionsRadios" class= "radio_sbj" value="option2" checked="" type="radio">
										</span>
									</div>
									<img src="../assets/img/girl.png"/>
								</label>
							</li>
	    				</ul>
	    			</div>
					<hr/>

					<div class="row">
						<h4>Date of Birthday</h4>
						<div class="col-sm-2">
							<li class="contact">								
								{{view "select" content=days value=birthdayDay class="subject" onchange="updateBirthday" }}	
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{view "select" content=months value=birthdayMonth optionValuePath="content.value"
       optionLabelPath="content.name" class="subject" prompt="Select a month" }}									
								<!-- <i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i> -->
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{view "select" content=years value=birthdayYear class="subject" prompt="Select a year" }}											
								<!-- <i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i> -->
							</li>
						</div>
						<div class="col-sm-3">
							<!-- <li class="contact col-sm-5">
								<input placeholder="|Age" type="text" class="subject">
							</li> -->
							<label class="col-sm-5 text-sbj"> {{bind age}} Years</label>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-4">
							<img class="size_sbj height" src="../assets/img/boy-gray.png"/>
							<li class="contact col-sm-5">
								{{input value=height placeholder="|Height" class="subject"}}
							</li>
							<label class="col-sm-5 text-sbj">Meters</label>
						</div>
						<div class="col-sm-4">
							<img class="size_sbj weight" src="../assets/img/boy-gray.png"/>
							<li class="contact col-sm-5">
								{{input value=weight placeholder="|Weight" class="subject"}}
							</li>
							<label class="col-sm-5 text-sbj">Pounds</label></div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-3 int">
							<h4>heart rate</h4>
								<li class="contact col-sm-5">
									{{input value=heartRate placeholder="|Beats" class="subject"}}
								</li>
								<label class="col-sm-5 text-sbj">A minute</label>
						</div>

						<div class="col-sm-6 int">
							<h4>blood preassure</h4>
								<label class="col-sm-1 text-sbj">Below </label>
								<li class="contact col-sm-2">
									{{input value=bloodPreasureBelow placeholder="|120" class="subject"}}						
								</li>
								<label class="col-sm-1 text-sbj">Over</label>
								<li class="contact col-sm-2">
									{{input value=bloodPreasureOver placeholder="|80" class="subject"}}
								</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-3">
							<li class="contact">
								{{input value=race placeholder="|Race" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=ethnicity placeholder="|Ethnicity" class="subject"}}								
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-3">
							<li class="contact">
								{{input value=maritalStatus placeholder="|Marital Status GHT" class="subject"}}					
							</li>
						</div>
					</div>

					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn" {{action "nextInfo"}}>NEXT</button>
						<button class="btn bg-gray sbj-btn" {{action "resetDemographic"}}>RESET</button>
					</div>
				</div>
			{{/if}}
			{{#if inGuardian}}
				<div id="_guardian" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Guardian Advocate or Facility</h1>
						<div class="img_contc">
							<img src="../assets/img/subject.png"/>
							<a>Browse</a>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">								
								{{input value=name placeholder="|First name" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">								
								{{input value=name placeholder="|Middle name" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">								
								{{input value=name placeholder="|Last name" class="subject"}}
							</li>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">								
								{{input value=relationShip placeholder="|Relationship" class="subject"}}
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=facilityType placeholder="|Facility Type" class="subject"}}
							</li>
						</div>
						<div class="col-sm-4">
							<li class="contact">
								{{input value=facility placeholder="|Facility" class="subject"}}
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=address placeholder="|Address" class="subject"}}
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-3">
							<li class="contact">
								{{input value=phone placeholder="|Home phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=phone placeholder="|Cell phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=phone placeholder="|Work phone" class="subject"}}
							</li>
						</div>
						<div class="col-sm-3">
							<li class="contact">
								{{input value=phone placeholder="|Alternate cell phone" class="subject"}}
							</li>
						</div>
					</div>
					<hr/>

					<div class="row">
						<div class="col-sm-4">
							<li class="contact">
								{{input value=email placeholder="|Email" class="subject"}}
							</li>
						</div>
					</div>

					<div class="btns-sbj">
						<button class="btn bg-gray sbj-btn" {{action "nextInfo"}}>NEXT</button>
						<button class="btn bg-gray sbj-btn" {{action "resetGuardian"}}>RESET</button>
					</div>
				</div>
			{{/if}}
			{{#if inMedication}}
				<div id="_medication" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Medications</h1>
					</div>

					<div class=" col-sm-4">
						<div id="" class="medic  row margin-row">
							<li>
								<h6 class="medic-title">Medicaments<i class="color-gray glyphicon pull-right glyphicon-chevron-down"></i></h6>
							</li>
							<ul class="medics connectedSortable col-sm-12" data-auto-scroll="true" data-slide-speed="200">
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default active">
									<input placeholder="AddMedication" value="Advil" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default">
									<input placeholder="AddMedication" value="Medication" type="text" class="procedure"/>
								</li>
								<li class="ui-state-default edit">
									<input placeholder="AddMedication" value="" type="text" class="procedure"/>
								</li>
							</ul>
							<p class="count_proc" id="number" style="display:block"> 17 medicaments</p>
							<button style="display:block" id= "proc" class=" btn bg-gray addProc">
								<i class="glyphicon-plus glyphicon"></i>
							</button>
						</div>
					</div>

					<div class="col-sm-2"></div>

					<div class="col-sm-6">
						<h4 class="color-red">Advil</h4>

						<div class="row">
							<h4>Dosage</h4>
							<div class="col-sm-5">
								<li class="contact">
									<input placeholder="|Dosage" type="text" class="subject">
								</li>
							</div>
						</div>

						<div class="row">
							<h4>Date</h4>
							<div class="col-sm-4">
								<li class="contact">
								<input placeholder="|Start" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|End" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
						</div>

						<div class="btns-sbj">
							<button class="btn bg-gray sbj-btn" {{action 'nextInfo'}}>NEXT</button>
							<button class="btn bg-gray sbj-btn">RESET</button>
							<button class="btn bg-gray sbj-btn">EDIT</button>
						</div>
					</div>
				</div>
			{{/if}}
			{{#if inConditions}}
				<div id="_conditions" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Conditions</h1>
					</div>

					<div class=" col-sm-4">
						<div id="" class=" visit row margin-row">
							<div class="visit_N">
								<input placeholder="" value="Conditions" type="text" class="visit-title h4 col-sm-12">
							</div>

							<div class="visit-body">
								<ul class="connectedSortable sortable col-sm-12  ui-sortable">
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddCondition" value="Conditions" type="text" class="procedure">
									</li>
									<p class="count_proc" id="" style="display:block"> 17 determinants</p>
								</ul>
								<button style="display:block" class="btn bg-gray  addProc">
									<i class="glyphicon-plus glyphicon"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-sm-2"></div>
					<div class="col-sm-6 pull-right">
						<h4 class="color-red">Determinant's Name</h4>

						<div class="row">
							<h4>Date</h4>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|Start" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|End" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
						</div>
						<hr/>

						<div class="row">
							<div class="col-sm-12">
								<li class="contact">
									<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
								</li>
							</div>
						</div>

						<div class="btns-sbj">
							<button class="btn bg-gray sbj-btn" {{action "nextInfo"}}>NEXT</button>
							<button class="btn bg-gray sbj-btn">RESET</button>
						</div>
					</div>
				</div>
			{{/if}}
			{{#if inAllergies}}
				<div id="_allergies" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Allergies</h1>
					</div>

					<div class=" col-sm-4">
						<div id="" class=" visit row margin-row">
							<div class="visit_N">
								<input placeholder="" value="Allergies" type="text" class="visit-title h4 col-sm-12">
							</div>

							<div class="visit-body">
								<ul class="connectedSortable sortable col-sm-12  ui-sortable">
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddAllergie" value="Allergie" type="text" class="procedure">
									</li>
									<p class="count_proc" id="" style="display:block"> 17 allergies</p>
								</ul>
								<button style="display:block" class="btn bg-gray  addProc">
									<i class="glyphicon-plus glyphicon"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-sm-2"></div>
					<div class="col-sm-6 pull-right">
						<h4 class="color-red">Reaction's Name</h4>

						<div class="row reactions">
							<li>
								<h6 class="medic-title">Reactions<i class="color-gray glyphicon pull-right glyphicon-chevron-down"></i></h6>
							</li>
							<ul class="connectedSortable sortable col-sm-12  ui-sortable">

							</ul>
							<button style="display:block" class="btn bg-gray  addProc"><i class="glyphicon-plus glyphicon"></i></button>
						</div>
						<hr/>

						<div class="row">
							<h4>Date</h4>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|Start" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|End" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
						</div>
						<hr/>

						<div class="row">
							<div class="col-sm-12">
								<li class="contact">
									<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
								</li>
							</div>
						</div>

						<div class="btns-sbj">
							<button class="btn bg-gray sbj-btn" {{action "nextInfo"}}>NEXT</button>
							<button class="btn bg-gray sbj-btn">RESET</button>
						</div>
					</div>
				</div>
			{{/if}}
			{{#if inInmunization}}
				<div id="_inmunization" class="tab-pane active page col-sm-12 " role="tabpanel" >
					<div class="row" style="margin-left: 0px;">
						<h1 class="title sbj color-dark">Inmunization</h1>
					</div>

					<div class=" col-sm-4">
						<div id="" class=" visit row margin-row">
							<div class="visit_N">
								<input placeholder="" value="Inmunization" type="text" class="visit-title h4 col-sm-12">
							</div>

							<div class="visit-body">
								<ul class="connectedSortable sortable col-sm-12  ui-sortable">
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<li class="ui-state-default">
										<input placeholder="AddInmunization" value="Inmunization" type="text" class="procedure">
									</li>
									<p class="count_proc" id="" style="display:block"> 17 determinants</p>
								</ul>
								<button style="display:block" class="btn bg-gray  addProc">
									<i class="glyphicon-plus glyphicon"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-sm-2"></div>
					<div class="col-sm-6 pull-right">
						<h4 class="color-red">Determinant's Name</h4>

						<div class="row">
							<h4>Date</h4>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|Start" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
							<div class="col-sm-4">
								<li class="contact">
									<input placeholder="|End" type="text" class="subject">
									<i class="down_icon color-gray glyphicon pull-right glyphicon-chevron-down"></i>
								</li>
							</div>
						</div>
						<hr/>

						<div class="row">
							<div class="col-sm-12">
								<li class="contact">
									<textarea placeholder="|Comments" type="textarea" rows="5" class="subject"></textarea>
								</li>
							</div>
						</div>

						<div class="btns-sbj">
							<button class="btn bg-gray sbj-btn" {{action "saveModel"}}>SAVE</button>
							<button class="btn bg-gray sbj-btn">RESET</button>
						</div>
					</div>
				</div>
			{{/if}}
	</div>
</div>


<div class="right-bar color-dark bg-gray col-sm-2">
	<ul class="radio-list">
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option1" checked="" type="radio">
					</span>
				</div> Active
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option2" checked="" type="radio">
					</span>
				</div> Inactive
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option3" checked="" type="radio">
					</span>
				</div> On Hold
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option4" checked="" type="radio">
					</span>
				</div> Ineligible
			</label>
		</li>
		<li>
			<label>
				<div  class="radio">
					<span class="">
						<input name="optionsRadios" class= "radio_sbj" value="option5" checked="" type="radio">
					</span>
				</div> Deseased
			</label>
		</li>
	</ul>
</div>
</div>
