<!-- BEGIN CONTENT -->
<div class="page-content-wrapper col-sm-12 right" style="margin-left: 0px;">
    <div class="page">
        <div class="row">
            <h1 class="protocol-title">{{name}}</h1>
            <p>{{description}}</p>
        </div>
        <div class="col-sm-3 col-sm-2_4">
          <div class="proceduresCont row margin-row">
            <h4 class="procedure-title col-sm-12 bg-red">Procedures</h4>
            <ul class="procedures connectedSortable col-sm-12" data-auto-scroll="true" data-slide-speed="200">
              <li class="ui-state-default draggable scroll_El"><span><a class="procedure"></a></span></li>

            </ul>
            <p class="count_proc" id="number" style="display:none"> 17 procedures</p>
            <button style="display:block" id= "proc" class="btn bg-gray addProc">+</button>
          </div>
        </div>
        <div class="col-sm-3 col-sm-2_4" id="col1">
          <div class="row margin-row nvisitPos" id="nvisit1" style="display:block">
            <div   class= "n_visit" id= "">
              <h4 id="" class="new-visit-title" >New Visit </h4>
              <button  id="nV1" class="btn bg-gray bottom-0 n_visit addProc">+</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-2_4" id="col2">

          <div class="row margin-row nvisitPos" id="nvisit2" style="display:none">
            <div   class= "n_visit" id= "">
              <h4 id="" class="new-visit-title" >New Visit </h4>
              <button  id="nV2" class="btn bg-gray bottom-0 n_visit addProc">+</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-2_4" id="col3">

          <div class="row margin-row nvisitPos" id="nvisit3" style="display:none">
            <div   class= "n_visit" id= "">
              <h4 id="" class="new-visit-title" >New Visit </h4>
              <button  id="nV3" class="btn bg-gray n_visit bottom-0 addProc">+</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-2_4" id="col4">

          <div class="row margin-row nvisitPos" id="nvisit4" style="display:none">
            <div class= "n_visit" id= "">
              <h4 id="" class="new-visit-title" >New Visit </h4>
              <button id="nV4" class="btn bg-gray bottom-0 n_visit addProc">+</button>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
