<div class="contents">
  <div class="row">
    <div class="col-xs-6">
      {{#drop-element inFolder=model.inFolder inTrash=model.inTrash}}
      <h3>Files in folder</h3>
      {{#each file in model.inFolder}}
        {{#drag-element file=file}}
          <div class="file" draggable="true">
            {{file.name}}
          </div>
        {{/drag-element}}
      {{/each}}
      {{/drop-element}}
    </div>
    <div class="col-xs-6">
      {{#drop-element inFolder=model.inFolder inTrash=model.inTrash}}
      <h3>Files in trash</h3>
      {{#each file in model.inTrash}}
        {{#drag-element file=file}}
          <div class="file" draggable="true">
            {{file.name}}
          </div>
        {{/drag-element}}
      {{/each}}
      {{/drop-element}}
    </div>
  </div>
  <br>

  <br>
</div>
