/*********************
 GENERAL COLORS 
*********************/

/***
Colors
blue:  #3c5499
light blue: #bfd5fa
red: #f04a5e
yellow: #ffb848
green: #35aa47
purple: #852b99
dark: #696969;
light grey: #eff0f4;
***/
/***
General backgrounds. Can be applied to any block or panel
***/

.bg-blue {
  background-image: none !important;
  background-color: #3c5499 !important;
  border-color:#3c5499 !important;
  color: #fff !important;
}

.bg-red {
  background-image: none !important;
  background-color: #f04a5e !important;
  border-color: #f04a5e !important;
  color: #fff !important;
}

.bg-yellow {
  background-image: none !important;
  background-color: #ffb848 !important;
  border-color: #ffb848 !important;
  color: #fff !important;
}

.bg-green {
  background-image: none !important;
  background-color: #35aa47 !important;
  border-color: #35aa47 !important;
  color: #fff !important;
}

.bg-purple {
  background-image: none !important;
  background-color: #852b99 !important;
  border-color: #852b99 !important;
  color: #fff !important;
}

.bg-dark {
  background-image: none !important;
  background-color: #696969 !important;
  border-color: #696969 !important;
  color: #fff !important;
}

.bg-grey {
  background-image: none !important;
  background-color: #eff0f4 !important;
  border-color: #eff0f4 !important;
}

.color-blue {
  background-image: none !important;
  color: #3c5499 !important;
  border-color:#3c5499 !important;
}

.color-red {
  background-image: none !important;
  color: #f04a5e !important;
  border-color: #f04a5e !important;
}

.color-yellow {
  background-image: none !important;
  color: #ffb848 !important;
  border-color: #ffb848 !important;
}

.color-green {
  background-image: none !important;
  color: #35aa47 !important;
  border-color: #35aa47 !important;
}

.color-purple {
  background-image: none !important;
  color: #852b99 !important;
  border-color: #852b99 !important;
}

.color-dark {
  background-image: none !important;
  color: #696969 !important;
  border-color: #696969 !important;
}

.color-grey {
  background-image: none !important;
  color: #eff0f4 !important;
  border-color: #eff0f4 !important;
}
/***
General typography 
***/
h1 small,
h2 small,
h3 small, 
h4 small, 
h5 small,
h6 small {
  color: #444;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  margin-bottom:0;
}

h1.block, 
h2.block, 
h3.block, 
h4.block, 
h5.block, 
h6.block {
  padding-top: 10px;
  padding-bottom: 10px;
}

h4{ font-weight: bolder; text-transform: uppercase; padding: 10px;}

a {
  text-shadow: none !important;
  color: #5B5F6F !important;
  cursor:pointer;
  text-decoration:none;
  border: none !important;
}

/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
  outline: 0;
}

/***
General HR
***/

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

/***
Tools
***/

.display-none,
.display-hide {
  display: none;
}

.no-space {
  margin: 0px !important;
  padding: 0px !important;
}

.no-margin {
  margin:0;
}

.no-border {
  border:0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
} 

.bold {
  font-weight:600 !important;
}

.fix-margin {
  margin-left: 0px !important
}

.border {
  border: 1px solid red;
}

.bottom-0{bottom:0px !important;}
.top-0{top:0px !important;}
.left-0{left:0px !important;}
.right-0{right:0px !important;}

.inline {
  display: inline;
}

.text-align-reverse {
  text-align: right;
}

/***
ie8 & ie9 modes
***/

.visible-ie8 {
  display: none;
}

.ie8 .visible-ie8 {
  display: inherit !important;
}

.visible-ie9 {
  display: none;
}

.ie9 .visible-ie9 {
  display: inherit !important;
}

.hidden-ie8 {
  display: inherit;
}

.ie8 .hidden-ie8 {
  display: none !important;
}

.hidden-ie9 {
  display: inherit;
}

.ie9 .hidden-ie9 {
  display: none !important;
}
/* general body settings */
body { 
  color: #000; 
  font-family: 'Lato', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:12px; 
  direction: ltr;
  font-weight: 700;
}
/***
Custom boostrap classes
***/

.btn{border-radius:0px !important;}

/***
Custom classes
***/

.col-sm-2_4{width: 20% !important;}
.margin-row{ margin: 0px 0px 45px 0px !important;}
.addProc{ position: absolute !important; 
bottom: -30px;
right: 0; 
background-color:#fff; font-size: 17px; font-weight: bold; color:#c3c5ca;}
.procedures{max-height:570px; width: 100%; overflow: auto; overflow-x:hidden; position:relative;}
.procedures::-webkit-scrollbar{ width: 13px; background-color:#eff0f4; border: 4px solid #fff}
.procedures::-webkit-scrollbar-track{border-radius:10px;  -webkit-box-shadow: 0 0 6px #eff0f4 inset;}
.procedures::-webkit-scrollbar-thumb{background-color: #696969; border: 4px solid #fff; border-radius:10px; border-top:1px solid #fff;; border-bottom:1px solid #fff;;}
.procedures::-webkit-scrollbar-thumb:hover{background-color: #3c3f4f;}
.procedure-title{height:100%;}
.visit-title{color: #f04a5e; 
background-color:#fff;border-bottom: 1px solid #eff0f4;}
.visit .form-control{color: #f04a5e; 
background-color:#fff;border-bottom: 1px solid #eff0f4; font-size:18px; font-weight: bolder; text-transform: uppercase; padding: 10px !important;min-width: 100% !important;}
.visit .editable-clear-x{
    float: right;
    top: -19px;
    right: 15px;
}
.count_proc{color:#c3c5ca;}
.proceduresCont{position:relative;}
.n_visit{position:relative; background-color:#ebebeb; color: #696969 !important;}
.nvisitPos{ position: absolute; bottom: -95px; width:89%;}
.visit{position:relative;}
.count_proc{position: absolute;bottom: -30px;
left: 0;margin-left: 20px;}
.editable-buttons {
    display: none !important;
}
.connectedSortable, .sortable2 {
min-height: 20px;
margin: 0;
padding: 0px 0 0 0;
float: left;
margin-right: 10px;
background-color:#fff;
min-width: 100%;
}
.nav > li > a{color: #d0d4df !important; font-size: 14px !important;}
.nav > li > a:hover{color: #f04a5e !important; background-color: #3c5498;}
.connectedSortable li, .sortable2 li {
margin: 0 0px 0px 0px;
padding: 5px 5px 5px 20px;
list-style-position: inside;
border-bottom: 1px solid #eff0f4;
background-color:#fff;
}
.ui-draggable-dragging{background-color: #3c3f4f !important; color: #f04a5e !important;  z-index:9999; position:absolute; padding: 5px 5px 5px 20px; width:17%;}
.ui-draggable-dragging a{color: #fff !important;}
.ui-sortable-helper{background-color: #3c3f4f !important; color: #f04a5e !important; width: 100%;}
.ui-sortable-helper a{color: #fff !important;}
.ui-draggable-dragging-ori{background-color: #eff0f4 !important; color: #f04a5e !important; }
.ui-draggable-dragging-ori a{color: #f04a5e !important;}
ul.connectedSortable>li:hover {color: #f04a5e  !important;}
ul.connectedSortable>li:hover a{color: #f04a5e !important;}
.form-control:focus {
border-color: none;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.connectedSortable .form-control{border: none !important; height:auto; -webkit-box-shadow: none; text-transform: none !important;
box-shadow: none; padding: 0 !important;min-width: 94% !important;line-height: 1;font-size: 12px !important;vertical-align: super !important;color: #5B5F6F !important;}
.connectedSortable .editable-clear-x{
    position: relative;   
    top: -1px !important;      
    font-family: 'Glyphicons Halflings';   font-style: normal;   font-weight: normal;   line-height: 1;    -webkit-font-smoothing: antialiased;   -moz-osx-font-smoothing: grayscale;
    color: gray;
    background-image: none;
    font-size: 10px;
    display: inline-block !important;
    float: none !important;
    right: 3px !important;
}
.visit .form-control{color: #f04a5e; 
background-color:#fff;border-bottom: 1px solid #eff0f4; font-size:18px; font-weight: bolder; text-transform: uppercase; padding: 10px;min-width: 100%;}
.visit .editable-clear-x{
    float: right;
    top: -19px;
    right: 15px;
}
.form-control{border:none; height:auto; -webkit-box-shadow: none; text-transform: uppercase;
box-shadow: none; padding: 0;min-width: 94%;line-height: 1;font-size: 12px;vertical-align: super !important;}
.editable-clear-x{
    position: relative;   top: 1px;      
    font-family: 'Glyphicons Halflings';   font-style: normal;   font-weight: normal;   line-height: 1;    -webkit-font-smoothing: antialiased;   -moz-osx-font-smoothing: grayscale;
    color: gray;
    background-image: none;
    font-size: 10px;
    display: inline-block !important;
}
.editable-clear-x:before{content: "\e014";}
.editable-container.editable-inline {
min-width: 93%;
}
.connectedSortable .form-group{min-width: 100%}
.count_proc_V p{display:block !important;}
.editable-click, a.editable-click, a.editable-click:hover{cursor: text;}
/***
Responsive
***/

/***
Extra Small Devices Only
***/

@media (max-width: 767px) { 
	.col-sm-2_4{display:inline;}
}