/*Here goes the global variabless for less*/
/*Here can go content related to the index page only*/
body {
  font-size: 22px;
}
body .title {
  background-color: #3c5598;
  color: white;
}
body .title .container ul {
  list-style: none;
}
body .navbar-header a {
  color: #d0d4df;
}
body .nav a {
  color: #d0d4df;
  font-size: 14px !important;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
body .nav a:hover {
  color: #f04a5e !important;
  background-color: #3c5498;
}
body .file {
  background: #e3e3e3;
  border: 1px solid #3e3e3e;
  border-radius: 3px;
  margin: 5px 0;
  padding: 3px 5px 3px 5px;
}
body .trash {
  border: 1px solid #3e3e3e;
  border-radius: 3px;
  padding: 10px;
}
body .trash-active {
  background: #ff3232;
  font-weight: bold;
}
#protocol-container {
  font-size: 12px;
}
.protocol-title {
  background-image: none !important;
  color: #696969;
  border-color: #696969 !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  margin: 30px 10px 30px 20px;
  text-transform: uppercase;
  display: inline-block;
}
.protocol-description {
  display: inline-block;
  font-weight: initial;
  background-image: none !important;
  color: #696969;
  border-color: #696969 !important;
}
.proceduresCont {
  position: relative;
}
.procedure-title {
  background-image: none !important;
  background-color: #f04a5e !important;
  border-color: #f04a5e !important;
  color: #fff !important;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold !important;
  font-family: 'Lato', sans-serif;
}
.connectedSortable {
  min-height: 20px;
  margin: 0;
  padding: 0px 0 0 0;
  float: left;
  margin-right: 10px;
  background-color: #fff;
  min-width: 100%;
}
.connectedSortable li,
.sortable2 li {
  margin: 0 0px 0px 0px;
  padding: 5px 5px 5px 20px;
  list-style-position: inside;
  border-bottom: 1px solid #eff0f4;
  background-color: #fff;
}
.addProc {
  position: absolute !important;
  bottom: -30px;
  right: 0;
  background-color: #fff;
  font-size: 17px;
  font-weight: bold;
  color: #c3c5ca;
}
.n_visit {
  position: relative;
  background-color: #ebebeb;
  color: #696969 !important;
}
.bottom-0 {
  bottom: 0px !important;
}
.margin-row {
  margin: 0px 0px 45px 0px !important;
}
.new-visit-title {
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  margin-bottom: 0;
  margin-top: 10px;
}
li.active {
  color: #eff0f4;
  background-color: #696969;
}
/*General Content here, available for every page */
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #eff0f4;
}
.drag-element {
  z-index: -3;
  position: absolute;
  top: 100px;
  right: 100px;
  opacity: 1;
}
.dragging-element {
  color: white;
  background-color: gray;
  opacity: 1;
}
.resetHorPadding {
  padding-left: 1px;
  padding-right: 1px;
}
.resetHorMargin {
  margin-left: 1px;
  margin-right: 1px;
}
