/*Here goes the global variabless for less*/
/*General Content here, available for every page */
.bg-blue {
  background-image: none !important;
  background-color: #3c5499 !important;
  border-color: #3c5499 !important;
  color: #fff !important;
}
.bg-red {
  background-image: none !important;
  background-color: #f04a5e !important;
  border-color: #f04a5e !important;
  color: #fff !important;
}
.bg-yellow {
  background-image: none !important;
  background-color: #ffb848 !important;
  border-color: #ffb848 !important;
  color: #fff !important;
}
.bg-green {
  background-image: none !important;
  background-color: #35aa47 !important;
  border-color: #35aa47 !important;
  color: #fff !important;
}
.bg-purple {
  background-image: none !important;
  background-color: #852b99 !important;
  border-color: #852b99 !important;
  color: #fff !important;
}
.bg-dark {
  background-image: none !important;
  background-color: #696969 !important;
  border-color: #696969 !important;
  color: #fff !important;
}
.bg-grey {
  background-image: none !important;
  background-color: #eff0f4 !important;
  border-color: #eff0f4 !important;
}
.color-blue {
  background-image: none !important;
  color: #3c5499 !important;
  border-color: #3c5499 !important;
}
.color-red {
  background-image: none !important;
  color: #f04a5e !important;
  border-color: #f04a5e !important;
}
.color-yellow {
  background-image: none !important;
  color: #ffb848 !important;
  border-color: #ffb848 !important;
}
.color-green {
  background-image: none !important;
  color: #35aa47 !important;
  border-color: #35aa47 !important;
}
.color-purple {
  background-image: none !important;
  color: #852b99 !important;
  border-color: #852b99 !important;
}
.color-dark {
  background-image: none !important;
  color: #696969 !important;
  border-color: #696969 !important;
}
.color-grey {
  background-image: none !important;
  color: #eff0f4 !important;
  border-color: #eff0f4 !important;
}
.color-gray {
  background-image: none !important;
  color: #C3C5CA !important;
  border-color: #C3C5CA !important;
}
/***
  General typography 
  ***/
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #444;
}
h1,
h2,
h3,
h4,
.h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
  margin-bottom: 0;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-top: 10px;
  padding-bottom: 10px;
}
h4,
.h4 {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 10px;
}
h6,
.h6 {
  text-transform: uppercase;
  padding: 10px 20px 20px 30px;
}
a {
  text-shadow: none !important;
  color: #5B5F6F !important;
  cursor: pointer;
  text-decoration: none !important;
  border: none !important;
}
/***
  Fix link outlines after click
  ***/
a,
a:focus,
a:hover,
a:active {
  outline: 0;
}
/***
  General HR
  ***/
hr {
  margin: 5px 0 15px 0;
  border: 0;
  border-top: 1px solid #f04a5e;
}
/***
  Tools
  ***/
.display-none,
.display-hide {
  display: none;
}
.no-space {
  margin: 0px !important;
  padding: 0px !important;
}
.no-margin {
  margin: 0;
}
.no-border {
  border: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.bold {
  font-weight: 600 !important;
}
.fix-margin {
  margin-left: 0px !important;
}
.border {
  border: 1px solid red;
}
.bottom-0 {
  bottom: 0px !important;
}
.top-0 {
  top: 0px !important;
}
.left-0 {
  left: 0px !important;
}
.right-0 {
  right: 0px !important;
}
.inline {
  display: inline;
}
.text-align-reverse {
  text-align: right;
}
/***
  ie8 & ie9 modes
  ***/
.visible-ie8 {
  display: none;
}
.ie8 .visible-ie8 {
  display: inherit !important;
}
.visible-ie9 {
  display: none;
}
.ie9 .visible-ie9 {
  display: inherit !important;
}
.hidden-ie8 {
  display: inherit;
}
.ie8 .hidden-ie8 {
  display: none !important;
}
.hidden-ie9 {
  display: inherit;
}
.ie9 .hidden-ie9 {
  display: none !important;
}
/* general body settings */
body {
  color: #000;
  font-family: 'Lato', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 12px;
  direction: ltr;
  font-weight: 700;
}
/***
    Custom boostrap classes
***/
.btn {
  border-radius: 0px !important;
}
.color-dark-edit {
  display: inline-block;
  font-weight: initial;
}
.page-content-wrapper {
  margin-top: 50px;
  padding-right: 0px;
}
.margin-row {
  margin: 0px 0px 45px 0px !important;
}
.addProc {
  position: absolute !important;
  bottom: -39px;
  right: 0;
  background-color: #fff;
  font-size: 12px;
  font-weight: lighter;
  color: #c3c5ca;
  height: 40px;
  width: 40px;
  padding: 0;
}
.procedures {
  max-height: 395px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}
.procedures::-webkit-scrollbar {
  width: 13px;
  background-color: #eff0f4;
  border: 4px solid #ffffff;
}
.procedures::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #eff0f4 inset;
}
.procedures::-webkit-scrollbar-thumb {
  background-color: #696969;
  border: 4px solid #fff;
  border-radius: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.procedures::-webkit-scrollbar-thumb:hover {
  background-color: #3c3f4f;
}
.procedure-title {
  height: 100%;
}
.visit-title {
  color: #f04a5e;
  background-color: #fff;
  height: 39px;
  margin-top: 0;
}
.count_proc {
  color: #c3c5ca;
}
.proceduresCont {
  position: fixed !important;
  width: 15%;
}
.n_visit {
  position: relative;
  background-color: #ebebeb;
  color: #696969 !important;
}
.nvisitPos {
  position: absolute;
  bottom: -95px;
  width: 89%;
}
.visit {
  position: relative;
  background-color: white;
  margin-top: 10px !important;
}
.count_proc {
  position: absolute;
  bottom: -30px;
  left: 0;
  margin-left: 34px;
}
.connectedSortable,
.sortable2 {
  margin: 0;
  padding: 0px 0 0 0;
  float: left;
  margin-right: 10px;
  background-color: #fff;
  min-width: 100%;
  border-top: 1px solid #eff0f4;
}
.connectedSortable li,
.sortable2 li {
  margin: 0 0px 0px 0px;
  padding: 5px 5px 5px 20px;
  list-style-position: inside;
  border-bottom: 1px solid #eff0f4;
  background-color: #fff;
  height: 30px;
}
.ui-draggable-dragging {
  background-color: #3c3f4f !important;
  color: #f04a5e !important;
  z-index: 9999;
  position: absolute;
  padding: 5px 5px 5px 20px;
  width: 16%;
  list-style: inside !important;
}
.ui-draggable-dragging input {
  color: #fff !important;
}
.ui-sortable-helper {
  background-color: #3c3f4f !important;
  color: #f04a5e !important;
  width: 100%;
}
.ui-sortable-helper input {
  color: #fff !important;
}
.ui-draggable-dragging-ori {
  background-color: #eff0f4 !important;
  color: #f04a5e !important;
}
.ui-draggable-dragging-ori input {
  color: #f04a5e !important;
}
ul.connectedSortable > li:hover {
  color: #f04a5e  !important;
}
ul.connectedSortable > li:hover input {
  color: #f04a5e !important;
}
ul.connectedSortable > li:focus {
  color: #f04a5e  !important;
}
.count_proc_V p {
  display: block !important;
}
.title {
  display: inline-block;
  margin: 0px 10px 10px 15px;
  text-transform: uppercase;
}
input.procedure {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
textarea,
input:focus {
  border: none !important;
  box-shadow: none !important;
  outline: 0;
}
.procedure {
  color: #5b5f6f;
  width: 85%;
}
textarea,
input::-moz-placeholder {
  color: #c1c3c8 !important;
}
textarea,
input:-moz-placeholder {
  color: #c1c3c8 !important;
}
textarea,
input::-webkit-input-placeholder {
  color: #c1c3c8 !important;
}
textarea,
input:-ms-input-placeholder {
  color: #c1c3c8 !important;
}
textarea,
input.visit-title,
input.subject-title {
  border: none !important;
  box-shadow: none !important;
}
.collapse {
  padding-left: 5% !important;
  padding-right: 5% !important;
  font-size: 12px;
  cursor: pointer;
  color: #f04a5e;
  background-color: #fff;
  border-bottom: 1px solid #eff0f4;
  padding-bottom: 12px;
  padding-top: 15px;
  margin-top: 0px;
}
.save-button {
  margin-right: 60px;
}
.ul_list {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 30px;
  background-color: white;
  border: none;
}
.ul_list > li:hover {
  list-style-type: disc !important;
  background-color: transparent !important;
  padding: 0px 0px !important;
  margin-top: 0px !important;
  /***  New 19-2-2015  padding: 0px 0px !important; margin-top: 0px !important; ***/
}
.ul_list > li > a:hover {
  padding: 5px 0px !important;
}
.ul_list > li {
  float: none;
}
.ul_list > .active {
  list-style-type: disc !important;
  color: #f04a5e !important;
  display: list-item;
  list-style-position: outside;
}
.ul_list > .active > a {
  color: #f04a5e !important;
  background-color: transparent !important;
}
.ul_list > li > a {
  font-size: 11px !important;
  padding: 5px 0px !important;
}
.sidebar {
  background-color: white;
  height: 690px;
  margin-top: -40px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  color: #BABBBC !important;
}
.right-bar {
  padding-right: 0px;
  background-color: #E1E1E1;
  margin-top: -40px;
  padding-top: 100px;
  height: 690px;
  padding-left: 35px;
}
.subject {
  height: 30px;
  border: none;
  color: #C5C5C5;
}
.sbj {
  margin-left: 0 !important;
}
.img_contc {
  padding-bottom: 20px;
}
.img_contc > a {
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}
.sbj-btn {
  background-color: #E1E1E1;
  color: dimGray;
  height: 30px;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}
.btns-sbj {
  padding-top: 40px;
}
.contact {
  background-color: white;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #3c5499;
  margin-right: 0px;
  margin-left: 0px;
  list-style-position: inside;
  /***  New 15-2-2015  margin-right: 0px;margin-left: 0px;list-style-position: inside; ***/
}
.contact > input,
textarea {
  width: 70%;
}
.radio,
.checkbox {
  display: inline;
  padding-left: 0px;
  margin-left: 0px;
  /***  New 15-2-2015  padding-left:0px; margin-left:0px; ***/
}
.right-bar > ul {
  list-style-type: none;
  padding-left: 0px;
}
.col-sm-2_4 {
  width: 20% !important;
  margin-bottom: 90px;
}
.gender > li {
  display: inline-table;
  padding-right: 30px;
  /***  New 15-2-2015  padding-right: 30px;***/
}
.gender {
  padding-left: 35px;
}
.sbj input[type="radio"] {
  margin-top: 15px;
}
.medic {
  position: relative !important;
  width: 100%;
}
/***  New 15-2-2015  ***/
.medic-title {
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  text-transform: none;
  color: dimgray;
  display: inline-block;
  padding-top: 0px;
}
.medics li {
  list-style-type: none;
  background-color: #C3C5CA !important;
  color: #696969;
  border: none !important;
  padding-left: 30px !important;
}
li.edit {
  list-style-type: disc;
  background-color: white !important;
  color: dimGray !important;
}
.medics li.active {
  background-color: #3c3f4f !important;
  color: #f04a5e !important;
  padding: 5px 5px 5px 20px;
  width: 100%;
  list-style: inside !important;
  padding-left: 20px !important;
}
.medics li.active input,
textarea {
  color: #fff !important;
}
.tab-pane h4 {
  margin-top: 0px;
  padding-top: 0px;
  color: #babbbc;
  padding-left: 15px;
  font-weight: bold;
}
.int h4 {
  padding-left: 0px !important;
}
.text-sbj {
  vertical-align: sub;
  color: #3c5499;
  padding: 7px 0px 0px 0px;
  margin: 0 8px 0 8px;
  /***  New 15-2-2015  margin: 0 8px 0 8px;***/
}
.nav > li > a,
.navbar-toggled > ul > li > a {
  color: #d0d4df !important;
  font-size: 14px;
}
.nav > li > a:hover,
.navbar-toggled > ul > li > a:hover {
  color: #f04a5e !important;
  background-color: transparent;
}
.count_proc_V p {
  display: block !important;
}
.navbar {
  border-radius: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 40px;
}
.navbar-nav {
  margin-right: 5%;
}
.page-container {
  margin-left: 4%;
  margin-right: 0%;
  margin-top: 40px;
  min-height: 630px;
  margin-bottom: 35px;
}
.reactions {
  position: relative;
  margin-bottom: 45px;
}
.reactions li {
  padding-left: 15px;
  width: 55%;
  margin-left: 14px;
  /***  New 15-2-2015  ***/
}
#_allergies > div.col-sm-6 > div.row.reactions > button {
  right: 42.3% !important;
}
textarea.subject {
  height: 100%;
  width: 97%;
  vertical-align: top;
}
.header {
  z-index: 9999;
  width: 100%;
  position: fixed;
}
.navbar {
  border-radius: 0px;
  position: relative;
  z-index: 9999;
  width: 100%;
  height: auto;
  margin: 0 auto !important;
  padding: 0px;
  display: block;
  margin-left: -34px;
  border-bottom: 0px;
  /***  New 15-2-2015  ***/
}
.navbar .navbar-main-list,
.navbar .navbar-main-list li {
  margin: 0px;
  padding: 0px;
}
.navbar ul {
  display: block;
  width: auto !important;
  margin: 0 auto !important;
  overflow: hidden;
  list-style: none;
  padding-right: 5%;
}
/* sublevel menu - in construction */
.navbar ul li ul,
.navbar ul li ul li,
.navbar ul li ul li a {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}
/* */
.navbar .navbar-main-list li {
  display: inline;
  padding: padding:0px;
  margin: 0px !important;
}
.navbar-toggled {
  display: none;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto !important;
}
.navbar-button:hover {
  cursor: pointer;
}
.navbar .navbar-toggled ul {
  margin: 0px !important;
  padding: 0px 10px!important;
  float: right;
  text-align: right;
  display: none;
  height: 60px;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  width: 494px;
  opacity: 1;
}
.navbar .navbar-toggled ul li {
  display: block;
  margin: 0 auto !important;
}
.navbar-toggled-title {
  float: right;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
}
.navbar-toggled-controls {
  min-height: 40px;
}
.title.sbj {
  margin-bottom: 30px;
}
.marker {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  border-bottom: 0px;
  position: absolute;
  top: 43px;
  left: 30px;
  display: none;
}
.navbar-nav > li.active a {
  color: white !important;
}
.navbar-nav > li.active > .marker {
  display: block !important;
}
.down_icon {
  margin-top: 12px;
  margin-right: 12px;
  font-size: 10px;
}
.size_sbj {
  float: left;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 10px;
}
.height {
  padding-top: 4px;
  border-top: 3px solid #929497;
}
.weight {
  padding-bottom: 4px;
  border-bottom: 3px solid #929497;
}
.tab-pane h4.color-red {
  padding-left: 0px !important;
}
.tab-pane li {
  color: #3C5499;
}
.tab-pane > .col-sm-4 {
  padding-left: 0;
}
.tab-pane > .col-sm-6 {
  padding-left: 0;
}
.tab-pane {
  margin-bottom: 40px;
}
.med-tit {
  padding-left: 0px;
  margin-bottom: 0px;
}
.med-tit li {
  list-style-position: inside;
  color: #3c5499;
  background-color: white;
  padding-left: 15px;
}
.med-tit li > i {
  margin: 4% 6.5%;
}
.medic li.edit {
  padding-left: 20px !important;
}
.sbj-btn:hover {
  color: #F04A5E;
}
.subject-title {
  color: #f04a5e;
  background-color: #fff;
  height: 39px;
  margin-top: 0;
  padding-left: 18px;
}
/***
    Footer
***/
.footer {
  padding: 8px 20px 5px 20px;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
}
.footer:after,
.footer:before {
  content: "";
  display: table;
  line-height: 0;
}
.footer:after {
  clear: both;
}
.footer .footer-inner {
  float: left;
  display: inline-block;
}
.footer .footer-tools {
  float: right;
  display: inline-block;
}
.footer .footer-tools .go-top {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 7px;
  padding: 0px 6px 0px 6px;
}
.footer .footer-tools .go-top i {
  font-size: 15px;
  margin-bottom: 5px;
}
/***
    Responsive
***/
/***
  Extra Small Devices Only
***/
@media (max-width: 767px) {
  .col-sm-2_4 {
    width: 100% !important;
    height: 100%;
    margin-bottom: 0;
  }
  .nvisitPos {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px !important;
  }
  .proceduresCont {
    width: 100%;
    top: 40px;
    margin-left: 0;
    padding-left: 0;
    z-index: 999;
    position: relative !important;
    margin-bottom: 85px !important;
  }
  .ui-draggable-dragging {
    width: 80%;
  }
  .sidebar {
    height: auto !important;
    margin-left: -50px;
    padding-left: 50px;
    margin-right: -15px;
    margin-bottom: 20px;
  }
  .right-bar {
    height: auto !important;
    padding: 0px 0px 0px 30px;
    margin-left: -35px;
    margin-top: 0px;
  }
  .reactions li {
    width: 95%;
  }
  .med-tit li > i {
    margin: 2% 2.5%;
  }
  #_allergies > div.col-sm-6 > div.row.reactions > button {
    right: 3% !important;
    bottom: -34px;
  }
}
